

body{
	background-color: black;
	/* min-width: 12rem; */
	user-select: none;
}

body,html{
	height: 100%;
	overflow: hidden;
}

html{font-size : 7.331378vw};	

body{font-size : 0.16rem};

.clearfix::before, .clearfix::after{

content: '' ;

display: table;

clear: both;

}
a{
	text-decoration: none;
}
#text-box{
	display: none;
}




/* 透明共同样式 */
.transparent{
	opacity: 0;
}



.box-together{
	background-repeat:no-repeat ;
	background-size:100% 100%;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	position: absolute;
	/* display: none; */
	z-index:50;
}

/*游戏待机界面样式*/
#gamestart{
	/* opacity: 1; */
	/* display: block; */
	transform: opacity 2s;
	z-index : 1;
	height: 100%;
	width: 100%;
	text-shadow: 0.05rem 0.05rem 0.1rem white;
	padding-top: 2rem;
}



/* 游戏标题 */
#game-title{
	width: 2rem;
	position: relative;
	margin: 0 auto;
	font-size: 1rem;
	margin-bottom: 0.5rem;
	background: linear-gradient(to right,rgb(25,25,25),rgb(193, 52, 52));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	/* color: #FF0000; */
	font-family: 仿宋;
}


#gamestart div:not(:nth-child(1)){
	width: 2.8rem;
	height: 0.64rem;
	/* border-radius: 0.2rem; */
	/* border: 0.01rem solid white; */
	/* box-shadow: 0 0 0.1rem rgba(0,0,0,.3); */
	line-height: 0.64rem;
	display: flex;
	justify-content: space-around;
	position: relative;
	margin: 0.2rem auto;
	/* top : 2.3rem;
	left: 4.6rem; */
	/* background-color: #1300a3; */
	
}
#gamestart span:hover{
	color: white;
	text-decoration: underline;
}



/* #gamestart .icon-start{
	font-size: 0.3rem;
}
 */
#gamestart div span{
	color : black;
	font-size : 0.5rem;
	font-family: fantasy;
}

/* #gamestart div .icon1 {
	margin-right:0.3rem ;
	color : #0c5d56;
}
#gamestart div .icon2{
	margin-left: 0.3rem;
	color : #0c5d56E;
} */


/* 开始游戏界面样式 */

/* 对话框 */
#text{
	text-shadow: 0.05rem 0.05rem 0.1rem white;
	padding-top: 0.1rem;
	width: 100%;
	height: 2rem;
	/* background-color: rgb(); */
	position: absolute;
	/* margin: 0rem 0.25rem 0rem; */
	bottom: 0rem;
	opacity: .9;
	/* border-radius: 5%; */
	text-indent: 1rem;
	font-size: 0.23rem;
	background-image: linear-gradient(to top,rgba(35,38,41),rgb(97,107,101));
	box-shadow: 0 -0.3rem 1rem;
}



#text span{
	text-sha
	position: absolute;
	color: black;
	font-size: 0.25rem;
	margin: 1rem 0.2rem 0 0.1rem;
	text-indent: 2em;
}




/* 人物名字 */
#name{
	width: 0rem;
	height: 0rem;
	border-bottom: 0.5rem solid rgb(71,72,74);
	border-left: 1.5rem solid rgb(71,72,74);
	border-right: rgba(0,0,0,0) 1.5rem solid;
	position: absolute;
	bottom: 2.1rem;
	/* margin: 0 0.5rem 0; */
	opacity: .6;
}
#name span{
	position: absolute;
	left: -1.4rem;
	top:0.04rem;
	font-size: 0.32rem;
	white-space:nowrap;
}



/* 功能条 */
#nav{
	
	
	position: absolute;
	bottom: 2.1rem;
	right: 0rem;
	width: 7rem;
	height: 0.3rem;
	opacity: .9;
	z-index: 80;
}

#nav a{
	display: inline-block;
	text-align: center;
	width: 1rem;
	line-height: 0.3rem;
	background-color: rgb(48,48,49);
	float: right;
	margin-left: 0.05rem;
	font-size: 0.19rem;
}

#nav i{
	font-size: 0.19rem;
}


#nav a:hover{
	color : white;
}

/* save load共同样式 */

.saveload{
	background-image: none;
	box-sizing: border-box;
	float: left;
	line-height: 0.5rem;
	font-size: 0.23rem;
	padding-left: 0.5rem;
	background-image: linear-gradient(to right bottom,rgba(59,26,28),rgb(163,123,124));
}
.saveload_left{
	width: 80%;
	height: 80%;
	position: absolute;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	align-items: center;
	justify-content:center;
}





.saveload>span{
	font-size: 0.5rem;
	position: relative;
	top: 0.3rem;
	color: teal;
	text-shadow: 0 0 0.1rem black;
	/* left: 20%; */
}

.saveload div a{
	/* display: block; */
	position: relative;
	height: 1rem;
	width: 70%;
	background-color: rgb(218,231,246);
	border: 0.01rem solid black;
	/* border-radius: 0.4rem; */
	margin-top: 0.15rem;
	padding-left:0.15rem ;
	color: black;
	box-shadow: 0 0 0.05rem black;
}

.saveload div a span{
	font-size: 0.2rem;
	color: black;
	position: absolute;
	bottom: 0;
	right: 0.05rem;
}

.saveload div a:hover{
	border: 0.01rem solid rgb(253,85,84);
	background-image: radial-gradient(rgb(218,231,246),rgb(243,165,163));
	box-shadow: 0 0 0.1rem black;
}

.saveload>a{
	font-size: 0.25rem;
	color: black;	
	/* display: block; */
	position: relative;
	/* left: 2rem; */
	top: 82%;
	left: 52%;
	color: burlywood;
	z-index:3;
}

.saveload>a:hover{
	color: rgb(255,153,0);
}

.saveload p{
	position: absolute;
	top: 0;
	width: 3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	left: 0.8rem;
}

.saveload_back{
	position: absolute;
	font-size: 0.25rem;
	right: 0.1rem;
	bottom: 0;
	border-radius: 20%;
	width: 1.1rem;
	height: 0.5rem;
	box-shadow: 0 0 0.1rem;
	background-color: rgb(219,200,201);
}

.saveload_back:hover{
	color: rgb(230,230,230);
	background-color: rgb(45,45,45);
	border: none;
}

#save_sure{
	width: 100%;
	height: 100%;
	/* position: relative; */
	/* top: 30%; */
	/* z-index: 9999999999; */
	background-color: rgb(58,59,68);
	text-align: center;
	background-image: none;
	padding-top: 4rem;
	z-index:100;
}

#save_sure span{
	display:block;
	width: 100%;
	border-top: 0.1rem solid white;
	border-bottom: 0.1rem solid white;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: white;
	margin-bottom: 0.5rem;
}

#save_sure button{
	background-color: rgb(90,88,94);
	width: 1.3rem;
	position: relative;
	top: 0.1rem;
	left: 0.3rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	font-size: 0.3rem;
	color:white;
	box-shadow: 0 0 0.1rem;
}

#save_sure button:hover{
	background-color: white;
	color: black;
}

#load_sure{
	width: 100%;
	height: 100%;
	/* position: relative; */
	/* top: 30%; */
	/* z-index: 9999999999; */
	background-color: rgb(58,59,68);
	text-align: center;
	background-image: none;
	padding-top: 4rem;
	z-index:100;
}

#load_sure span{
	display:block;
	width: 100%;
	border-top: 0.1rem solid white;
	border-bottom: 0.1rem solid white;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: white;
	margin-bottom: 0.5rem;
}

#load_sure button{
	background-color: rgb(90,88,94);
	width: 1.3rem;
	position: relative;
	top: 0.1rem;
	left: 0.3rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	font-size: 0.3rem;
	color:white;
	box-shadow: 0 0 0.1rem;
}

#load_sure button:hover{
	background-color: white;
	color: black;
}



/* title */

#title_sure{
	width: 100%;
	height: 100%;
	/* position: relative; */
	/* top: 30%; */
	/* z-index: 9999999999; */
	background-color: rgb(58,59,68);
	text-align: center;
	background-image: none;
	padding-top: 4rem;
}

#title_sure span{
	display:block;
	width: 100%;
	border-top: 0.1rem solid white;
	border-bottom: 0.1rem solid white;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: white;
	margin-bottom: 0.5rem;
}

#title_sure button{
	background-color: rgb(90,88,94);
	width: 1.3rem;
	position: relative;
	top: 0.1rem;
	left: 0.3rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	font-size: 0.3rem;
	color:white;
	box-shadow: 0 0 0.1rem;
}

#title_sure button:hover{
	background-color: white;
	color: black;
}

/* 过渡页面 */
#guodu{
	background-color: black;
	background-image: none;
	opacity: 0;
	z-index: 80;
}



/* history页面 */
#history{
	/* width: 10rem; */
	/* height: 7rem; */
	background-image: none;
	background-image: linear-gradient(to right bottom,rgba(62,61,42),rgb(156,158,144));
	overflow-y: hidden;
	/* position: relative; 	 */
	font-size: 0.2rem;
	 padding-left: 0.2rem;
	padding-top: 20px;
	color: whitesmoke;
	text-shadow: 1px 1px white;
}

#history span{
	font-size: 0.2rem;
}


#history_btn{
	position: fixed;
	font-size: 0.25rem;
	right: 0.4rem;
	bottom: 0.3rem;
	border-radius: 20%;
	width: 1.1rem;
	height: 0.5rem;
	box-shadow: 0 0 0.1rem;
	background-color: rgb(219,200,201);
}

#history_btn:hover{
	color: rgb(230,230,230);
	background-color: rgb(45,45,45);
	border: none;
}

/* 设置的样式 */
#confirm{
	background-image: none;
	box-sizing: border-box;
	float: left;
	line-height: 0.5rem;
	font-size: 0.23rem;
	/* padding-left: 0.5rem; */
	background-image: linear-gradient(to right bottom,rgba(62,61,42),rgb(156,158,144));
	/* position:relative; */
}

#confirm h3{
	font-size: 0.4rem;
	text-align: center;
}

#confirm_container div{
	box-sizing: border-box;
	background-image: linear-gradient(to right bottom,rgba(120,119,106),rgb(191,193,185));
	width: 50%;
	height: 2rem;
	border: 0.01rem solid black;
}


#confirm_back{
	position: absolute;
	font-size: 0.25rem;
	right: 1.8rem;
	bottom: 0.2rem;
	border-radius: 20%;
	width: 1.1rem;
	height: 0.5rem;
	box-shadow: 0 0 0.1rem;
	background-color: rgb(195,195,195);
}

#confirm_back:hover{
	color: rgb(230,230,230);
	background-color: rgb(45,45,45);
	border: none;
}

#confirm span{
	margin-left: 0.2rem;
	margin-top:0.2rem;
}
#confirm ul{
	display: flex;
	margin: 0.4rem auto;
	align-items: flex-end;
	
}

#confirm_container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 4rem;
}



#confirm li{
	float: left;
	margin-left: 0.05rem;
	width: 0.4rem;
	/* height: 0.1rem; */
	/* background-color: #C8C8C8; */
}

#confirm li:hover{
	background-color: rgb(39,39,39);
}

#confirm #volumn a{
	position: absolute;
	left: 1.1rem;
}

#confirm a{
	position: absolute;
	font-size: 0.3rem;
	color: black;
	margin-left: 0.1rem;
	margin-top: 0.03rem;
}

/* 选项框以及按钮的样式 */
.choose_box{
	
	background-image: none;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0 auto;
	position: absolute;
	/* display: none; */
	z-index:70;
}

.choose_style{
	flex-direction: column;
	display: flex;
	width: 6rem;
	height: 3rem;
	/* flex-wrap: wrap; */
	margin: 1rem auto;
}
	

.cb_style{
	width: 6rem;
	height: 0.5rem;
	margin-top: 0.5rem;
	opacity: 0.8;
	background-color: rgb(80,80,80);
	border: 0.03rem black solid;
	border-radius: 0.06rem;
	font-size: 0.25rem;
}

.cb_style:hover{
	background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(129,129,129));
}


/* 结局收录页面样式 */

#ending{
	background-image: linear-gradient(to bottom,rgb(0,0,0),rgb(109,125,158));
}

#ending div{
	position: absolute;
	width: 8rem;
	height: 5rem;
	background-color: #bfa;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/* display: flex; */
}

#ending_button{
	bottom: -0.5rem;
	right: -2rem;
}

#ending div ul{
	box-sizing: border-box;
	color: white;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top,rgb(109,155,155),rgb(0,0,0));
	/* position: absolute; */
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#ending div ul li{
	margin: 0;
	box-sizing: border-box;
	width: 50%;
	height: 25%;
	/* border: 0.01rem solid rgb(45,35,95); */
}

#ending div ul li a{
	color : white;
	font-size: 0.22rem;
	line-height: 0.8rem;
	margin-left: 0.2rem;
}

#ending div ul li a:hover{
	color: rgb(32,255,255);
}


/* 人物 */
.character{
	position: absolute;
	width: 10rem;
	height: 10rem;
}

#character1 img{
	width: 5.11rem;
	height: 10rem;
}

#character2 img{
	width: 6.67rem;
	height: 10rem;
}

#character3 img{
	width: 6.67rem;
	height: 10rem;
}

#character1{
	left: 2rem;
	bottom: -2rem;
}

#character2{
	left: 4rem;
	bottom: -2.5rem;
}

#character3{
	left: 7rem;
	bottom: -2.5rem;
}